* {box-sizing: border-box;}
ul {list-style-type: none;}

body {
    font-family: Arial;
    background: #f1f1f1;
    overflow: hidden;
}

.row {
    overflow: hidden;
    padding: 10px;
}

.date-bar {
    height: 5%;
    overflow: hidden;
    background: #1abc9c;
    text-align: center;
    width: 100%;
    display: table;
}

.date-bar ul {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

.date-bar ul li {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.prev, .next {
    color: white;
    cursor: pointer;
}

#dateInput {
    background: none;
    border: none;
}

#dateInput::-webkit-inner-spin-button,::-webkit-clear-button {
    display: none;
}

.date-bar .prev {
    float: left;
}

.date-bar .next {
    float: right;
}

/* Control the left side */
.left-column {
    float: left;
    width: 40%;
    padding-left: 10px;
}
  
/* Control the right side */
.right-column {
    float: left;
    width: 60%;
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
}

/* Add a card effect for articles */
.card {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.text-container {
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #73AD21;
}

.card textarea {
    resize: none;
    height: 100%;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    border: 2px solid #73AD21;
}

.card .btn {
    display: block;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;

    border-radius: 10px;
    border: 2px solid #73AD21;
}